<h1>Todo app</h1>

<% if @todos.size > 0 %>
<ul class="list-group">
<% @todos.each do |todo| %>
  <li class="list-group-item">
    <%= todo[:title] %> - <em><%= todo[:description] %></em>
  </li>
<% end %>
</ul>
<% end %>